/* Selectores Generales */

header{
    text-align: center;
}
body{
    background-color: #f5f5f5;
    font-family: 'Lato',sans-serif;
}
footer{
    margin: 30px auto 0px auto;
    text-align: center;
    width: 800px;
}
main{
    display: flex;
    margin: 30px auto 30px auto;
    width: 800px;
}
form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    display: inline;
    font-family: 'Lato',sans-serif;
    width: 200px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 200;
    font-size: 18px;
}
select{
    font-family: 'Lato'sans-serif;
    width: 100px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}
input[type="submit"]{
    background-color: black;
    color: #fff;
    border-radius: 5px;
    width: 100%;
}
p{
    font-size: 14px;
}
img{
    float: left;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
/* Selectores de clase */
.gameInput{
    border-radius: 5px;
    width: 248px;
}
.containerItem{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    min-height: 75px;
    border-radius: 5px;
}
.item{
    background-color: #7ac943;
    border-radius: 45px;
    border: solid 10px #fff;
    width: 35px;
    height: 35px;
}

.rojo{
    background-color: #fd0c49;
    transition: background-color 0.5s;
}
.verde{
    background-color: #7ac943;
    transition: background-color 0.5s;
}
.naranja {
    background-color: orange;
    transition: background-color 0.5s;
}
.endGameColor{
    background-color: #263238;
    transition: background-color 0.7s;
}

/* Selectores de IDs */
header img#logo{
    border: none;
    margin: 30px auto 30px auto;
    text-align: center;
    float: none;
    align-items: center;
    text-align: center;
}
#gameContainer{
    width: 500px;
    margin-right: 10px;
}
#game{
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 500px;
    min-height: 400px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px 5px 0px 0px;
    gap: 10px;
}



#endGame{
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px 5px 0px 0px;
    width: 500px;
    height: 417px;
}

#endGame button{
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 10px 0px 10px 0px;
    font-family: 'LAto',sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 200px;
}

#gameTittle{
    margin-top: 416px;
    width: 500px;
    background-color: black;
    border: 1px solid #ced4da;
    border-radius: 0px 0px 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
}
#gameTittle p{
    font-size: 24px;
    color: white;
}
#userContainer{
    width: 290px;
}
